src/static/benchx/benchmark.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="benchmark">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id"/>
				<xs:element type="xs:string" name="suite"/>
				<xs:element name="meta">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:dateTime" name="created"/>
							<xs:element type="xs:string" name="description"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="server">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="id"/>
							<xs:element type="xs:string" name="description"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="environment">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="basex.version"/>
							<xs:element type="xs:string" name="java.vendor"/>
							<xs:element type="xs:string" name="java.version"/>
							<xs:element type="xs:string" name="java.vm.version"/>
							<xs:element type="xs:string" name="memory.free"/>
							<xs:element type="xs:string" name="memory.max"/>
							<xs:element type="xs:string" name="memory.total"/>
							<xs:element type="xs:string" name="os.arch"/>
							<xs:element type="xs:string" name="os.name"/>
							<xs:element type="xs:float" name="os.version"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="runs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="run" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name"/>
										<xs:element type="xs:float" name="runtime"/>
										<xs:element type="xs:integer" name="factor"/>
										<xs:element type="xs:string" name="mode"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
